USE [master]
GO
/****** Object:  Database [Marido de Aluguel]    Script Date: 28/11/2018 17:42:50 ******/
CREATE DATABASE [Marido de Aluguel]
GO

USE [Marido de Aluguel]
GO
/****** Object:  UserDefinedFunction [dbo].[CalculaAumento]    Script Date: 28/11/2018 17:42:51 ******/

CREATE FUNCTION [dbo].[CalculaAumento] 
(
	@cod_espec int,
	@percentagem decimal (10,2)
)
returns @tabela table
(
	id int,
	nome varchar(50),
	preco decimal(10,2),
	cod_espec int,
	novoValor decimal(10,2)
)
as begin
	DECLARE @id int 
	DECLARE @nome varchar(50)
	DECLARE @preco decimal (10,2)
	DECLARE @novoValor decimal (10,2)

	DECLARE cur_CalculaAumento cursor
	for select id, nome, preco, cod_espec, @novoValor from tb_servicos where cod_espec = @cod_espec

	OPEN cur_CalculaAumento
		FETCH NEXT FROM cur_CalculaAumento
		INTO @id, @nome, @preco, @cod_espec, @novoValor
	
	WHILE @@FETCH_STATUS = 0
	BEGIN
		set @novoValor = (@preco * @percentagem)		
		insert into @tabela values (@id, @nome, @preco, @cod_espec,@novoValor)
		FETCH NEXT FROM cur_CalculaAumento
		INTO @id, @nome, @preco, @cod_espec, @novoValor
		
	END
	close cur_CalculaAumento
	deallocate cur_CalculaAumento	

	return
END
GO
/****** Object:  UserDefinedFunction [dbo].[CalculaTotal]    Script Date: 28/11/2018 17:42:51 ******/

CREATE FUNCTION [dbo].[CalculaTotal](@id int)
RETURNS decimal(10,2)
as begin
	DECLARE @valorTotal decimal(10,2)
	select @valorTotal = (select sum((qtdeservico)*(precoUnit)) from tb_atenXservicos
	    					where cod_atendimento = @id)
	return @valorTotal
END
GO
/****** Object:  UserDefinedFunction [dbo].[PesquisaAten]    Script Date: 28/11/2018 17:42:51 ******/

CREATE FUNCTION [dbo].[PesquisaAten] 
(
	@dtInicial date,
	@dtFinal date,
	@cod_cliente int,
	@cod_func int
)
returns @tabela table
(
	id int,
	cod_cliente varchar (50),
	cod_func varchar (50),
	dt_atendimento varchar (20),
	valor_total varchar (50)
)
as
begin
	insert into @tabela
		select * from tb_atendimento
		where dt_atendimento between @dtInicial and @dtFinal or cod_cliente = @cod_cliente or 
			cod_func = @cod_func
		order by dt_atendimento
	return
end
GO
/****** Object:  UserDefinedFunction [dbo].[PesquisaFunc]    Script Date: 28/11/2018 17:42:51 ******/

CREATE FUNCTION [dbo].[PesquisaFunc] 
(
	@id int,
	@cod_espec int,
	@nome varchar(50)

)
returns @tabelaFunc table
(
	id int,
	nome varchar (50),
	telefone varchar (20),
	dt_nascimento date,
	salario decimal(10,2),
	foto varchar(100),
	cod_espec int,
	espec varchar(50)

)
as
begin
	IF (@id IS NULL AND @cod_espec IS NULL AND @nome IS NULL)
		insert into @tabelaFunc
			select f.*, e.nome from tb_funcionarios f
			inner join tb_espec e on e.id = f.cod_espec
	ELSE
		insert into @tabelaFunc
			select f.*, e.nome from tb_funcionarios f
			inner join tb_espec e on e.id = f.cod_espec
			where f.id = @id or e.id = @cod_espec or f.nome like '%' + @nome + '%'
			order by f.nome
	return
end
GO
/****** Object:  Table [dbo].[tb_atendimento]    Script Date: 28/11/2018 17:42:51 ******/

CREATE TABLE [dbo].[tb_atendimento](
	[id] [int] IDENTITY(1,1) PRIMARY KEY NOT NULL,
	[cod_cliente] [int] NULL,
	[cod_func] [int] NULL,
	[dt_atendimento] [date] NULL,
	[valor_total] [decimal](10, 2) NULL,
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_atenXservicos]    Script Date: 28/11/2018 17:42:51 ******/

CREATE TABLE [dbo].[tb_atenXservicos](
	[cod_atendimento] [int] NOT NULL,
	[cod_servico] [int] NOT NULL,
	[qtdeservico] [int] NULL,
	[precoUnit] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cidades]    Script Date: 28/11/2018 17:42:52 ******/

CREATE TABLE [dbo].[tb_cidades](
	[id] [int] IDENTITY(1,1) PRIMARY KEY NOT NULL,
	[nome] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_clientes]    Script Date: 28/11/2018 17:42:52 ******/

CREATE TABLE [dbo].[tb_clientes](
	[id] [int] IDENTITY(1,1) PRIMARY KEY NOT NULL,
	[nome] [varchar](50) NULL,
	[cpf] [varchar](14) NULL,
	[telefone] [varchar](20) NULL,
	[endereco] [varchar](50) NULL,
	[dt_nascimento] [date] NULL,
	[cod_cidade] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_espec]    Script Date: 28/11/2018 17:42:52 ******/
CREATE TABLE [dbo].[tb_espec](
	[id] [int] IDENTITY(1,1) PRIMARY KEY NOT NULL,
	[nome] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_funcionarios]    Script Date: 28/11/2018 17:42:52 ******/

CREATE TABLE [dbo].[tb_funcionarios](
	[id] [int] IDENTITY(1,1) PRIMARY KEY NOT NULL,
	[nome] [varchar](50) NULL,
	[telefone] [varchar](20) NULL,
	[dt_nascimento] [date] NULL,
	[salario] [decimal](10, 2) NULL,
	[foto] [varchar](100) NULL,
	[cod_espec] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_servicos]    Script Date: 28/11/2018 17:42:52 ******/

CREATE TABLE [dbo].[tb_servicos](
	[id] [int] IDENTITY(1,1) PRIMARY KEY NOT NULL,
	[nome] [varchar](50) NULL,
	[preco] [decimal](10, 2) NULL,
	[cod_espec] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_atendimento]  WITH CHECK ADD  CONSTRAINT [PK_aten_cliente] FOREIGN KEY([cod_cliente])
REFERENCES [dbo].[tb_clientes] ([id]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_atendimento] CHECK CONSTRAINT [PK_aten_cliente]
GO
ALTER TABLE [dbo].[tb_atendimento]  WITH CHECK ADD  CONSTRAINT [PK_aten_func] FOREIGN KEY([cod_func])
REFERENCES [dbo].[tb_funcionarios] ([id]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_atendimento] CHECK CONSTRAINT [PK_aten_func]
GO
ALTER TABLE [dbo].[tb_atenXservicos]  WITH CHECK ADD  CONSTRAINT [PK_aten] FOREIGN KEY([cod_atendimento])
REFERENCES [dbo].[tb_atendimento] ([id]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_atenXservicos] CHECK CONSTRAINT [PK_aten]
GO
ALTER TABLE [dbo].[tb_atenXservicos]  WITH CHECK ADD  CONSTRAINT [PK_aten_servico] FOREIGN KEY([cod_servico])
REFERENCES [dbo].[tb_servicos] ([id]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_atenXservicos] CHECK CONSTRAINT [PK_aten_servico]
GO
ALTER TABLE [dbo].[tb_clientes]  WITH CHECK ADD  CONSTRAINT [PK_clien_cidade] FOREIGN KEY([cod_cidade])
REFERENCES [dbo].[tb_cidades] ([id]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_clientes] CHECK CONSTRAINT [PK_clien_cidade]
GO
ALTER TABLE [dbo].[tb_funcionarios]  WITH CHECK ADD  CONSTRAINT [PK_espec_fun] FOREIGN KEY([cod_espec])
REFERENCES [dbo].[tb_espec] ([id]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_funcionarios] CHECK CONSTRAINT [PK_espec_fun]
GO
ALTER TABLE [dbo].[tb_servicos]  WITH CHECK ADD  CONSTRAINT [PK_espec_servico] FOREIGN KEY([cod_espec])
REFERENCES [dbo].[tb_espec] ([id]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_servicos] CHECK CONSTRAINT [PK_espec_servico]
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculaAumento]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_CalculaAumento] 
(
	@cod_espec int,
	@porcentagem decimal (10,2)
)
AS BEGIN
	SELECT * FROM CalculaAumento (@cod_espec, @porcentagem)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaCliente]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ConsultaCliente] (@id int)
AS
BEGIN
	select * from tb_clientes where id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaFunc]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ConsultaFunc] (@id int)
AS
BEGIN
	select * from tb_funcionarios where id = @id
END  
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaServico]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ConsultaServico] (@id int)
AS
BEGIN
	select * from tb_servicos where id = @id
END 
GO
/****** Object:  StoredProcedure [dbo].[sp_ExcluirAten]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ExcluirAten] (@id int)
AS
BEGIN
	delete tb_atendimento where id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ExcluirCliente]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ExcluirCliente] (@id int)
AS
BEGIN
	delete tb_clientes where id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ExcluirFunc]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ExcluirFunc] (@id int)
AS
BEGIN
	delete tb_funcionarios where id = @id
END  
GO
/****** Object:  StoredProcedure [dbo].[sp_ExcluirServico]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ExcluirServico] (@id int)
AS
BEGIN
	delete tb_servicos where id = @id
END 
GO
/****** Object:  StoredProcedure [dbo].[sp_IncluiAtenXservico]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_IncluiAtenXservico]
(
	@cod_atendimento int,
	@cod_servico int,
	@qtdeservico int
)
as begin 

	declare @precoUnit decimal (10,2)
	set @precoUnit = (select preco from tb_servicos where id = @cod_servico)
	
	insert into tb_atenXservicos values (@cod_atendimento, @cod_servico, @qtdeservico, @precoUnit)

end
GO
/****** Object:  StoredProcedure [dbo].[sp_IncluiOuAlteraAten]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_IncluiOuAlteraAten]
(
	@id int,
	@cod_cliente int,
	@cod_func int,
	@dt_atendimento date	
)
as begin

	IF not exists (select id from tb_atendimento where id = @id)
		insert into tb_atendimento (cod_cliente, cod_func, dt_atendimento)
			values(@cod_cliente, @cod_func, @dt_atendimento)

	ELSE
	begin		
		update tb_atendimento set valor_total = dbo.CalculaTotal(@id) where id = @id
	END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_IncluiOuAlteraCliente]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_IncluiOuAlteraCliente](
		@id int, 
	    @nome varchar (50),
		@cpf varchar (14),
	    @telefone varchar (20),
	    @endereco varchar (50),
	    @dt_nascimento date,
		@cod_cidade int)
AS
BEGIN
   IF exists(select id from tb_clientes where id = @id)
   BEGIN
		update tb_clientes set nome = @nome, cpf = @cpf,  telefone = @telefone,
			  endereco = @endereco, dt_nascimento = @dt_nascimento, cod_cidade = @cod_cidade
			  where id = @id
   END
   ELSE
		INSERT INTO  tb_clientes VALUES  (@nome, @cpf, @telefone, @endereco, @dt_nascimento, @cod_cidade)   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_IncluiOuAlteraFunc]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_IncluiOuAlteraFunc](
		@id int, 
	    @nome varchar (50),
	    @telefone varchar (20),
	    @dt_nascimento date,
		@salario decimal(10,2),
		@foto varchar (100),
		@cod_espec int

)
AS
BEGIN
   IF exists(select id from tb_funcionarios where id = @id)
   BEGIN
		update tb_funcionarios set nome = @nome, telefone = @telefone, dt_nascimento = @dt_nascimento,
		salario = @salario, foto = @foto, cod_espec = @cod_espec
		       	 where id = @id
   END
   ELSE
   BEGIN  
		INSERT INTO  tb_funcionarios (nome, telefone, dt_nascimento, salario, foto, cod_espec)       
		VALUES  (@nome, @telefone, @dt_nascimento, @salario, @foto, @cod_espec) 
   END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_IncluiOuAlteraServico]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_IncluiOuAlteraServico](
		@id int, 
	    @nome varchar (50),
		@preco decimal(10,2),
		@cod_espec int
		)
AS
BEGIN
   IF exists(select id from tb_servicos where id = @id)
   BEGIN
		update tb_servicos set nome = @nome, preco = @preco, cod_espec = @cod_espec
			  where id = @id
   END
   ELSE
   BEGIN 		
			INSERT INTO  tb_servicos (nome, preco, cod_espec)       
			VALUES  (@nome, @preco, @cod_espec) 
   END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ItensAtenXservico]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ItensAtenXservico] (@id int)
AS BEGIN
	select a.*, s.nome from tb_atenXservicos a
	inner join tb_servicos s on s.id = a.cod_servico
	where @id = cod_atendimento
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarCidades]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ListarCidades]
AS BEGIN
		 SELECT * FROM tb_cidades
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarCliente]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ListarCliente]
AS BEGIN
		 SELECT * FROM tb_clientes
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEspec]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ListarEspec]
AS BEGIN
	select * from tb_espec
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarFunc]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ListarFunc]
AS BEGIN
		 SELECT * FROM tb_funcionarios
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarServico]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ListarServico]
AS BEGIN
		 SELECT * FROM tb_servicos
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NavegaAnteriorCliente]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_NavegaAnteriorCliente](@idAtual int)
AS
BEGIN
  select top 1 * from tb_clientes where id < @idAtual order by id desc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NavegaAnteriorFunc]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_NavegaAnteriorFunc](@idAtual int)
AS
BEGIN
  select top 1 * from tb_funcionarios where id < @idAtual order by id desc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NavegaAnteriorServico]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_NavegaAnteriorServico](@idAtual int)
AS
BEGIN
  select top 1 * from tb_servicos where id < @idAtual order by id desc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NavegaPrimeiroCliente]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_NavegaPrimeiroCliente]
AS
BEGIN
 select top 1 * from tb_clientes  order by id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NavegaPrimeiroFunc]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_NavegaPrimeiroFunc]
AS
BEGIN
 select top 1 * from tb_funcionarios  order by id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NavegaPrimeiroServico]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_NavegaPrimeiroServico]
AS
BEGIN
 select top 1 * from tb_servicos  order by id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NavegaProximoCliente]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_NavegaProximoCliente](@idAtual int)
AS
BEGIN
  select top 1 * from tb_clientes where id > @idAtual order by id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NavegaProximoFunc]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_NavegaProximoFunc](@idAtual int)
AS
BEGIN
  select top 1 * from tb_funcionarios where id > @idAtual order by id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NavegaProximoServico]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_NavegaProximoServico](@idAtual int)
AS
BEGIN
  select top 1 * from tb_servicos where id > @idAtual order by id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NavegaUltimoCliente]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_NavegaUltimoCliente]
AS
BEGIN
 select top 1 * from tb_clientes order by id desc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NavegaUltimoFunc]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_NavegaUltimoFunc]
AS
BEGIN
 select top 1 * from tb_funcionarios order by id desc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NavegaUltimoServico]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_NavegaUltimoServico]
AS
BEGIN
 select top 1 * from tb_servicos order by id desc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PesquisaAten]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_PesquisaAten] 
(
	@dtInicial date = null,
	@dtFinal date = null,
	@cod_cliente int = null,
	@cod_func int = null

)
AS BEGIN
	IF (@dtInicial IS NULL AND @dtFinal IS NULL AND @cod_cliente IS NULL AND @cod_func IS NULL)
		SELECT * FROM tb_atendimento
	ELSE
		SELECT * FROM PesquisaAten (@dtInicial, @dtFinal, @cod_cliente, @cod_func)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PesquisaCliente]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_PesquisaCliente] 
(
	@CPF varchar(14) = null,
	@nome varchar (50) = null,
	@cod_cidade int = null
)
as
begin
	if(@CPF IS NULL AND @nome IS NULL AND @cod_cidade IS NULL)
		select * from tb_clientes
	else
	select * from tb_clientes
		where nome like '%'+ @nome + '%' or cpf like '%' + @CPF + '%' or cod_cidade = @cod_cidade 
		order by nome
end
GO
/****** Object:  StoredProcedure [dbo].[sp_PesquisaFunc]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_PesquisaFunc]
(
	@id int = null,
	@cod_espec int = null,
	@nome varchar(50) = null

)
AS BEGIN
	SELECT * FROM PesquisaFunc (@id, @cod_espec, @nome)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PesquisaServico]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_PesquisaServico] 
(
	@nome varchar (50),
	@cod_espec int
)
as
begin
	select s.*, e.nome as 'espec' from tb_servicos s
		inner join tb_espec e on e.id = s.cod_espec
		where s.nome like '%'+ @nome + '%' or cod_espec = @cod_espec
		order by s.nome
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ProximoIdAten]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ProximoIdAten]
AS BEGIN
	select ISNULL(MAX(id), 1) from tb_atendimento
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProximoIdCliente]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ProximoIdCliente]
AS
BEGIN
	select ISNULL(MAX(id)+1, 1) from tb_clientes
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProximoIdFunc]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ProximoIdFunc]
AS
BEGIN
	select ISNULL(MAX(id)+1, 1) from tb_funcionarios
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProximoIdServico]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ProximoIdServico]
AS BEGIN
	select ISNULL(MAX(id)+1, 1) from tb_servicos
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidaCPF]    Script Date: 28/11/2018 17:42:52 ******/

CREATE PROCEDURE [dbo].[sp_ValidaCPF]
( 
	@cpf varchar (14)
)
AS BEGIN
	IF exists(select cpf from tb_clientes where cpf like @cpf )
		SELECT 1
	ELSE
		SELECT 0
END		
GO
